.button-pulse {
    transition: all ease-in 0.2s;
    position: relative;
    overflow: hidden;

    &:hover {
        &:after {
            left: 120%;
        }
    }

    &:after {
        background: #fff;
        content: "";
        height: 9.6875rem;
        left: -4.6875rem;
        opacity: 0.2;
        position: absolute;
        top: -50px;
        transform: rotate(35deg);
        transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        width: 3.125rem;
        z-index: 1;

        animation-delay: 0.01s;
        animation-timing-function: ease-in-out;
        animation-name: radiance;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes radiance {
    0% {
        left: -30px;
        margin-left: 0px;
    }
    30% {
        left: 110%;
        margin-left: 80px;
    }
    100% {
        left: 110%;
        margin-left: 80px;
    }
}
