@layer base {
    .app-template {
        @apply h-screen;
        background-color: theme("colors.bg");
    }
    .app-header {
        @apply h-16;
        @apply px-4;

        background-color: theme("colors.bg");
        box-shadow: inset 0 -1px 0 theme("colors.shadow");

        .app-header-logo {
            height: 3rem;
        }

        .app-call {
            font-size: 0.75rem;
            line-height: 1rem;

            .app-call-number {
                @apply font-suisseIntl;
                @apply font-normal;
                color: theme("colors.cblack");
                letter-spacing: -0.25px;
            }
            .app-call-book {
                @apply font-suisseIntl;
                @apply font-medium;
                @apply cursor-pointer;
                @apply border-dotted border-b-2;
                color: theme("colors.cbrown");
            }
        }
    }

    // HOME VIEW
    .home-view {
        background-image: url("../images/bg-image-sm.jpg");
        @apply bg-top;
        @apply bg-no-repeat;
        @apply bg-cover;

        @apply px-4;

        .home-view-content {
            h1 {
                @apply font-suisseIntl;
                @apply font-bold;
                color: theme("colors.cwhite");
                font-size: 2rem;
                letter-spacing: -0.3px;
                line-height: 2.5rem;

                @apply mt-8;
            }

            h3 {
                @apply font-suisseIntl;
                @apply font-bold;
                color: theme("colors.cwhite");
                font-size: 1.125rem;
                line-height: 1.375rem;

                @apply mt-4;
            }

            h5 {
                @apply font-suisseIntl;
                @apply font-light;
                color: theme("colors.cwhite");
                font-size: 0.875rem;
                line-height: 1.25rem;

                @apply mt-4;
            }

            a {
                @apply block;
                @apply font-manrope;
                @apply font-normal underline;
                color: theme("colors.cwhite1");
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: -0.3px;
                @apply mt-6;
            }
        }
    }

    p {
        @apply font-suisseIntl;
        @apply font-normal;
        color: theme("colors.cdark");
        font-size: 0.5rem;
        letter-spacing: -0.3px;
        line-height: 0.625rem;

        @apply mb-4;

        span {
            @apply underline;
        }
    }

    .form-template {
        margin-top: 1.625rem;

        input {
            @apply font-suisseIntl;
            @apply font-normal;
            color: theme("colors.cgray");
            font-size: 1.125rem;
            @apply w-full;
            height: 3.5rem;
            @apply bg-transparent border-none outline-none;
            box-shadow: inset 0 -1px 0 #dbdad7;
        }
        ::placeholder {
            color: theme("colors.cgray");
        }

        //button
        button {
            @apply mt-4;
            @apply w-full;
            @apply outline-none;
            height: 3.5rem;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
            border-radius: 1px;
            background-color: theme("colors.cbrown");

            span {
                @apply font-suisseIntl;
                @apply font-normal;
                color: theme("colors.cbright");
                font-size: 1.125rem;
                letter-spacing: -0.4px;
                line-height: 1.5rem;
            }
        }
    }

    // SUCCESS VIEW
    .success-view {
        margin: 0 1.125rem 0;

        h2 {
            @apply font-suisseIntl;
            @apply font-normal;
            color: theme("colors.clightgray");
            font-size: 1rem;
            line-height: 1.5rem;
        }
        h4 {
            @apply font-suisseIntl;
            @apply font-bold;
            color: theme("colors.clightgray");
            font-size: 1.875rem;
            letter-spacing: -0.7px;
            line-height: 2.5rem;
            @apply mt-4;
        }
        a {
            @apply font-suisseIntl;
            @apply font-normal;
            font-size: 1.125rem;
            color: theme("colors.cbright");
            letter-spacing: -0.4px;
            line-height: 1.5rem;

            height: 3.5rem;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
            border-radius: 1px;
            background-color: theme("colors.cbrown");

            @apply mt-12;
        }
    }

    // SCREEN SIZES
    @screen sm {
    }

    @screen md {
        .app-template {
            @apply px-8 pb-8;
        }
        .app-header {
            @apply h-20;
        }
        .app-call {
            font-size: 1rem;
            line-height: 1.5rem;

            .app-call-number {
                // font-size: 1rem;
                // line-height: 1.5rem;
            }
            .app-call-book {
                // font-size: 1rem;
                // line-height: 1.5rem;
                @apply ml-2;
            }
        }
        .home-view {
            background-image: url("../images/bg-image-md.jpg");
            @apply bg-top;
            @apply bg-no-repeat;
            @apply bg-cover;

            @apply px-10;

            .home-view-content {
                h1 {
                    @apply font-bold;
                    font-size: 4rem;
                    letter-spacing: -0.0625rem;
                    line-height: 4.5rem;

                    @apply mt-0;
                }

                h3 {
                    font-size: 2rem;
                    letter-spacing: -0.3px;
                    line-height: 2.5rem;
                    margin-top: 1.625rem;
                }

                h5 {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    margin-top: 1.625rem;
                    max-width: 25rem;
                }

                a {
                }

                .form-template {
                    max-width: 20.5rem;
                }
            }
            p {
                text-align: center;
                font-size: 0.875rem;
                letter-spacing: -0.52px;
                line-height: 0.625rem;
            }
        }
        // SUCCESS VIEW
        .success-view {
            @apply mx-auto;

            h2 {
                @apply font-light;
                font-size: 1rem;
                line-height: 1.5rem;
                letter-spacing: 8.53px;
                line-height: 1.25rem;
                text-transform: uppercase;
            }
            h4 {
                font-size: 3rem;
                letter-spacing: -0.8px;
                line-height: 3.5rem;
                @apply mt-4;
            }
            a {
                @apply font-suisseIntl;
                @apply font-normal;
                font-size: 1.125rem;
                color: theme("colors.cbright");
                letter-spacing: -0.4px;
                line-height: 1.5rem;

                height: 3.5rem;
                max-width: 23.75rem;
                box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
                border-radius: 1px;
                background-color: theme("colors.cbrown");

                @apply mt-12;
            }
        }
    }

    @screen lg {
        .app-template {
            padding: 0 8.125rem 6rem;
        }
        .app-call {
            .app-call-number {
            }
            .app-call-book {
            }
        }
        .home-view {
            background-image: url("../images/bg-image-lg.jpg");
            @apply bg-center;
            @apply bg-no-repeat;
            @apply bg-cover;

            @apply px-4;

            .home-view-content {
                @apply mx-auto;
                max-width: 46rem;

                h1 {
                    @apply font-bold;
                    font-size: 3rem;
                    letter-spacing: -0.05rem;
                    line-height: 3.5rem;
                }

                h3 {
                    @apply font-suisseIntl;
                    @apply font-bold;
                    color: theme("colors.cwhite");
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                    letter-spacing: -0.2px;
                    max-width: 40rem;
                    @apply mt-2;
                }

                h5 {
                    @apply font-suisseIntl;
                    @apply font-light;
                    color: theme("colors.cwhite");
                    font-size: 0.875rem;
                    line-height: 1.25rem;

                    max-width: 38.125rem;
                    margin-top: 1.5625rem;
                }

                a {
                    @apply block;
                    @apply font-manrope;
                    @apply font-normal underline;
                    color: theme("colors.cwhite1");
                    font-size: 1rem;
                    line-height: 1.5rem;
                    letter-spacing: -0.3px;
                    @apply mt-6;
                }
            }
        }

        .success-view {
        }
    }
}
